@model QLSPBH2.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}

<style>
    .form-horizontal {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-bottom: 10px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>

<div class="form-horizontal">
    <h4 class="text-center">Đăng nhập</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MatKhau, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Trang đăng ký</a>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
