@model QLSPBH2.Models.RegisterViewModel

@{
    ViewBag.Title = "Đăng ký";
}

<style>
    .form-horizontal {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        margin-right: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-login {
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }
</style>

<h2 class="text-center">Đăng ký tài khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Đăng ký tài khoản</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HoTen, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MSSV, new { @class = "control-label" })
            <div>
                @Html.EditorFor(m => m.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.MSSV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MatKhau, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.XacNhanMatKhau, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.XacNhanMatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.XacNhanMatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Đăng ký" class="btn btn-primary" />
            <a href="@Url.Action("Login", "Account")" class="btn btn-login">Trang Đăng nhập</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
